mixin chk-item(checked=true)
  li
    if checked
      input(type="checkbox" checked disabled)
    else
      input(type="checkbox" disabled)
    block

//- Cover letter
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(href="node_modules/modern-normalize/modern-normalize.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet")
    link(href="index.scss" rel="stylesheet")
  body
    .text-container
      header
        h1 Cover Letter
          sup TM
        p Hi, I am Peilin Lu, a first-year undergrad. I am interested in the job offer during winter break.
        p I don't have anything to fill up my resume so I made this responsive web page to show off my skills.

      section.text.text-group
        h2 Contact Info
        p Email: plu39@wisc.edu

      section.skills.text-group
        h2 Skills
        ul
          +chk-item #[em HTML & CSS & JS]
          +chk-item(false) #[em CMS] I have not used any CMS in half a year. I prefer build tools over CMS.
          +chk-item #[em git] I am quite active on #[a(href="https://github.com/buckle2000") Github]
          +chk-item #[em Modern web standards] I hate Flash
          +chk-item #[em Responsive design] Yes! You can resize this page!
          +chk-item(false) #[em Acessibility] No, I have not studied WCAG. I do use #[a(href="http://khan.github.io/tota11y/") tota11y] to check my design.

      section.skills.text-group
        h2 Additional skills
        ul
          +chk-item #[em JSON] I also use YAML
          +chk-item #[em npm, yarn] This project is made with yarn
          +chk-item(false) #[em Service Workers] I have not used this
          +chk-item #[em CI/CD] I use Gitlab CI regularly
          +chk-item #[em SCSS] Still, I prefer Stylus over SCSS

      section.skills.text-group
        h2 Additional-Additional skills
        ul
          +chk-item I Learn things very fast
          +chk-item #[em Vue] (a frontend framework)
          +chk-item #[em: a(href="https://pugjs.org/") pug] (like SCSS but for HTML)
          +chk-item #[em Linux] I use Ubuntu as my main OS
          +chk-item #[em Graphic design] intermidiate level
          +chk-item #[em General Software Development] I have written backend for simple websites before
          +chk-item #[em Static Generator (web)] I prefer static generation over CMS

      section.text.text-group
        h2 About Salary
        p To be honest, I expect something more than $12/hr, I want to do web design/development as my job, not "routine web content update". I hope you understand.

      footer
        div EOF