// fonts, text styling

body {
    font-family: 'Lato', sans-serif;
    color: #222;
    font-size: 1.1rem;
}

h1,
h2 {
    font-family: 'Lato', sans-serif;
    font-weight: unset;
    color: black;
}

h2 {
    padding-bottom: .2em;
    border-bottom: solid 2px #bbb;
}

h1,
footer>* {
    text-align: center;
    font-size: 2rem;
    margin: 1em 0;
}

a {
    text-decoration: unset;
    background: lightblue;
}

.skills {
    ul {
        padding-left: 1.5rem;
    }

    li {
        // remove bullet point from <li>
        list-style: none;
        line-height: 1.5rem;
    }

    input[type=checkbox] {
        margin-right: .5rem;
    }

    em {
        font-style: unset;
        font-weight: bold;

        &::after {
            font-weight: normal;
            content: ' –'
        }
    }
}

// grid

.text-container {
    max-width: 68rem;
    margin: 0 auto;
    padding: 0 1rem;
    display: grid;
    column-gap: 2rem;
}

@media (min-width: 769px) {
    .text-container {
        grid-template-columns: 1fr 1fr;
    }

    header,
    footer,
    .text {
        grid-column: 1/3;
    }
}